

<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <br>
    <span class="title">Statuus</span><br>
    <span> You can buy a higher virtual social status with just $2.99 a month! </span>
    <br><br>
    <a href="<%= user_twitter_omniauth_authorize_path %>" class="btn btn-success btn-lg">Sign up with Twitter</a>
    <br><br>
    <table class="table table-bordered">
      <tr>
        <td class="subtitle"> Basic </td>
        <td class="subtitle premium"> Premium </td>
      </tr>
      <tr>
        <td>  </td>
        <td class="premium"> A <span class="premium-badge">premium</span> colored badge will be shown next to your username </td>
      </tr>
      <tr>
        <td> Your username will appear below after sign up </td>
        <td class="premium"> Your username will appear below after sign up </td>
      </tr>
      <tr>
        <td class="subtitle">Free</td>
        <td class="premium subtitle">$2.99 / month</td>
      </tr>
    </table>
  </div>
</div>